/*************************************
**************************************
	CSS FOR HEADER PAGES
**************************************
**************************************

/***********************************
************************************
			HEADER 
************************************
***********************************/

.start-banner {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid grey;
	border-width: 10px;
	border-radius: 15px;
	min-height: 8.5em;
	margin: -10px 0 0 0;
}

.banner-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
	font-size: 2em;
	font-family: 'Source Code Pro', monospace, sans-serif;
	text-shadow: 1px 1px 2px yellow, 0 0 1em yellow, 0 0 0.2em white;	
}

.banner-items > img {
	padding-left: 15px;
	height: 140px;
	width: 140px;
}

.item-1 {
	font-size: 1.5em;
}

.item-2 {
	padding-right: 15px;
}
/*************************************
**************************************
				BODY
**************************************
*************************************/

body{
	background-image: url('../images/alien-covenant.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -10px;
}